@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  --font-primary: "Manrope", "Inter";
}

body {
  font-family: var(--font-primary);
}

.text-primary {
  color: #16a34a;
}

.bg-primary {
  background-color: #16a34a;
}

.color-primary {
  color: #16a34a;
}
